@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sliderContent{
    @apply absolute top-0 h-full flex  justify-center text-left w-full bg-gradient-to-r from-gray-700 px-10
  }
  .sliderContent > div{
    @apply max-w-7xl m-auto w-full  px-5;
  }
  .sliderContent > div > div{
    @apply max-w-xl  text-white flex flex-col items-start;
  }
  .sliderInfo h1{
    @apply font-bold lg:text-7xl   md:text-3xl text-2xl  mb-3  max-sm:mb-2 ;
  }
  .learnmoreBtn{
    @apply rounded-md px-6 uppercase py-2  bg-sky-900 mt-5 max-md:px-4 max-md:py-2 max-md:text-sm max-sm:mt-3;
  }

  .bannerBottomList{
    @apply px-5 pb-10 -mt-10 relative z-20 max-md:mt-0 max-md:pt-10 max-sm:pt-5 max-sm:pb-5;
  }
 
    .menuBtn {
      @apply uppercase text-sm font-semibold duration-300 hover:bg-sky-900 hover:text-white px-4 py-2 rounded ;
    }
    .btnBig {
      @apply bg-gradient-to-r from-sky-800 to-sky-600 block text-center text-white  py-14 px-5 rounded-md uppercase font-bold text-2xl hover:from-sky-600 hover:to-sky-800 max-md:text-base max-lg:text-xl max-lg:py-10 max-md:py-8 max-md:px-3 ;
    }
    .doctor div{
      @apply bg-white bg-gradient-to-r hover:from-sky-800 hover:to-sky-600 hover:text-white py-4 px-5 max-lg:px-2 max-lg:py-2
    }
    .doctor div h2{
      @apply text-xl;
    }
    .doctor div span{
      @apply text-sm;
    }


   
    .blog .blogDetails{
      @apply overflow-hidden bg-white py-4 px-5 flex flex-col items-start;
    }
    .linkBtn{
      @apply bg-gradient-to-r from-sky-800 to-sky-600 text-white w-8 h-8 max-sm:w-6 max-sm:h-6 rounded-full flex justify-center items-center;
    }

    
    .quote{
      @apply relative
    }
    .quote i{
      @apply text-white bg-sky-400 w-7 h-7 rounded-full flex justify-center items-center absolute -top-4 -left-4
    }
    .blogdate{
      @apply absolute top-0 text-white left-0 bg-sky-600 px-3 py-2 flex flex-col justify-center items-center
    }
    .blogdate strong{
      @apply  font-bold tracking-wider text-4xl max-lg:text-2xl
    }
    .blogdate span{
      @apply      text-sm
    }


    .widget{
      @apply text-white flex flex-col justify-stretch
    }
    .widget h2{
      @apply  font-bold text-2xl mb-16 max-xl:text-xl  max-xl:mb-10 max-lg:text-lg max-lg:mb-5
    }
    
    .widget .header img{
      @apply  mb-9  max-xl:mb-5
    }
    .widget ul{
      @apply grid grid-cols-2    font-bold gap-1 max-xl:font-normal
    }

    .widget ul li {
      @apply flex items-center max-lg:text-sm
    }
    .widget ul li i{
      @apply font-black text-xl max-xl:text-lg max-lg:text-sm
    }
    .widget .gallery{
      @apply grid gap-3 grid-cols-4 
    }
    .widget .gallery img{
      @apply  w-full
    }
    .widget p{
      @apply mb-3 font-bold max-xl:font-normal max-lg:text-sm
    }
    .social{
      @apply  flex  gap-2  ;
    }
    
    .social a{
      @apply   bg-slate-500 w-10 h-10 items-center justify-center flex  text-white
    }

    .stickySupportArrow{
      @apply fixed right-5 bottom-5 flex flex-col gap-5  z-50;
    }  
    .stickySupportArrow div{
      @apply flex;
    } 
    .stickySupportArrow a{
      @apply w-16 h-16 max-md:w-12 max-md:h-12 flex items-center justify-center text-4xl max-md:text-2xl text-white rounded-md cursor-pointer;
    }
    .stickySupportArrow .arrow{
      @apply bg-sky-500 hover:bg-sky-600;
    }
    .stickySupportArrow a{
      @apply bg-red-600 hover:bg-red-700;
    }

    .titleBox span{
      @apply  text-[#408EC6] text-lg font-medium max-md:text-base max-xl:text-base;
    }
    .titleBox h2{
      @apply font-semibold text-5xl my-2 text-stone-800 max-md:text-lg max-xl:text-3xl max-xl:mt-0 ;
    }

    
    
  }
 
  .newsBolg{
    grid-template-columns: 4fr 7fr; 
    align-items: stretch;
  }
  @media (max-width: 1024px){

    .newsBolg{
      grid-template-columns: 2fr 2fr; 
      align-items: stretch;
      align-items: flex-start;
    }
  }

  .feedback .swiper-pagination .swiper-pagination-bullet {
    background-color: white;
    width: 14px;
    height: 14px;
}
  .feedback .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
     
  }